//====================================================================================================
.page {
  // .page__main
  &__main {
  }
}
.main {
  // .main__container
  &__container {
  }
  // .main__content
  &__content {
    max-width: rem(560);
  }
  // .main__title
  &__title {
    font-weight: 600;
    font-size: rem(36);
    line-height: 150%;
    letter-spacing: 0.01em;
    color: $mainColor;
    span {
      text-decoration: underline;
      color: $accentColor;
    }
  }
  // .main__button
  &__button {
  }
  // .main__image
  &__image {
  }
}
//====================================================================================================
